<script language="javascript" type="text/javascript">
{set:$step = IReq::get('step')==''?'1':IReq::get('step')}
{set:$user=ISafe::get('user')  ; $mailpos = stripos($user['email'],'@');
$useremail = substr_replace($user['email'],'***',$mailpos-3,3); 
$useremail = substr_replace($useremail,'***',$mailpos+1,3);
}

var step = {$step};
var showemail = "{$useremail}";
var email = '';
var moblie = '';
var regType = 0; 
</script>
<script type="text/javascript" src="{theme:/javascript/v_findpassword.js}"></script>
<div class="wrapper">
	
	<div id="asRetrieve_passwordBar">
		<h3>
			找回密码
		</h3>
		<span class="box15"></span>
		{if:$step == 1}
	<!-- setp1 -->
		<div class="asRetrieve_pwContent">
			<p class="sprite_a pwContentTitle01">
				<span class="asfontnone">1.输入用户名</span>
			</p>
			<span class="box30"></span>
			<ul id="asRetrieve_pwList">
				<li>
					<span class="editName">用户名：</span>
					<input type="text" class="editInput" id="input_username"
						name="textfield">
					<span class="box3"></span>
					<span id="div_username" style="margin-left: 210px;"
						class="v2reg_tips01"></span>
				</li>
				<li style="height: 85px">
					<span style="margin-top: 15px" class="editName">验证码：</span>
					<input type="text" style="margin-top: 18px" class="editInput01"
						maxlength="6" id="input_validatecode">
					<span class="vercode"> <img border="0"
							src="{url:/simple/getCaptcha}"
							oldsrc="{url:/simple/getCaptcha}"
							id="img_validatecode" style="cursor: pointer;"> </span>
					<a style="margin-top: 28px; cursor: pointer;" class="huanimg">看不清<br>
						<span class="fontRa02">换一张</span>
					</a>
					<span class="clear"></span>
					<span style="margin-left: 210px; margin-top: 1px"
						id="div_validatecode" class="v2reg_tips01"></span>
				</li>
				<li>
					<a href="javascript:void(0)" class="sprite_a DetermineBtn">下一步</a>
				</li>
			</ul>
			<span class="box10"></span>
			<p class="asRetrieve_pwtips">
				·如果该电子邮箱地址不正确，或者您已经忘记注册时填写的邮箱地址，那我们无法帮您找回密码，建议创建一个新帐户。
				<br>
				·请确保您的手机在您的身边，以便及时收取我们的校验码。验证码在两小时内有效。
				<br>
				·VANCL凡客诚品给您发送的手机校验码短信提示是免费的。
				<br>
				·为了不影响您的正常生活，VANCL凡客诚品的手机短信提醒在每天24:00 至次日 06:00 暂停服务。在此期间的短信内容将在
				06:00 后发送给您。
				<br>
				·为了您的账号安全，当天您最多可以申请5次找回密码邮件，如果5次仍未成功，建议您请联系客服找回或者次日再来尝试。
			</p>
		</div>
		{else:}
	<!-- setp2 -->
	<div class="asRetrieve_pwContent">
		<p class="sprite_a pwContentTitle02">
			<span class="asfontnone">2.验证身份</span>
		</p>
		<span class="box20"></span>
		<p class="asfindChannel">
			请选择找回渠道：
			<select id="select" name="select">
				<option value="0">
					注册邮箱
				</option>
				<option value="1">
					注册手机
				</option>
			</select>
		</p>
		<span class="box20"></span>
		<span class="sprite_a aslinx"></span>
		<span class="box20"></span>
		<p id="tips_email1" class="asmozVerify" style="display: block;">
			尊敬的用户，您的邮箱是：
			<span id="span_email" class="fontreda">{$useremail}</span><a
				id="href_getemail" class="sprite_a asmozVerifyBtn gra666_ft12"
				href="javascript:void(0)">获取找回密码邮件</a>
		</p>
		<div style="display: none" id="tips_phone1" class="asmozVerify">
			尊敬的用户，您的手机号码是：
			<span id="span_phone" class="fontreda">1111****111</span><a
				id="href_getphone" class="sprite_a asmozVerifyBtn gra666_ft12"
				href="javascript:void(0)">获取短信验证码</a>
		</div>
		<span class="box5"></span>
		<span id="tips_phone2_span" style="margin-left: 446px; display: none;"><span
			class="v2reg_tips02" style="display: none;"></span>
		</span>
		<span class="box20"></span>
		<p id="tips_email2" class="asmozMessaging" style="display: block;">
			尊敬的用户，请尽快登陆您的邮箱完成密码重置。
			<a target="_blank" id="herf_gotoemail" class="reda10_ft12" href="#"
				style="display: none;">登陆邮箱&gt;&gt;</a>
		</p>
		<p style="display: none" id="tips_phone2" class="asmozMessaging">
			请填写短信验证码：
			<input type="text" id="input_phonecode" name="textfield">
		</p>
		<span class="box5"></span>
		<p id="tips_phone2_span2" style="margin-left: 454px; display: none;">
			<span class="v2reg_tips02" style="display: none;"></span>
		</p>
		<span class="box20"></span>
		<a id="href_next" href="javascript:void(0)"
			class="sprite_a asmozMessagBtn whitef" style="display: none;">下一步</a>
		<span class="box20"></span>
	</div>
	{/if}
	
	</div>
</div>