{set:$seo_data=array(); $site_config=new Config('site_config');$site_config=$site_config->getInfo();}
{set:$seo_data['title']=isset($site_config['name'])?$site_config['name']:""}
{set:$seo_data['title']="用户登录_".$seo_data['title']}
{set:seo::set($seo_data);}
<script type="text/javascript" src="{theme:javascript/v_login.js}"></script>
<div class="wrapper">
    <div class="login">
        <div class="tag">
            <ul id="tags">
                <li class="on">已注册用户，请登录</li>
            </ul>
        </div><!--tag-->
        <div id="shows">
        			{set:$callback = IReq::get('callback')}
					{if:$callback!==null && $callback!=''}
					<input type="hidden" name='callback' value="{$callback}">
					{else:}
					<input type="hidden" name='callback' value="{echo:IUrl::getRefRoute()}">
					{/if}
            <div class="user_infor" style="display: block;">
                <div class="tips" id="vanclLoginError">用户名或者密码错误!</div>
                <p><label>用户名：</label><input type="text" value="Email/手机号" name="vanclUserName" id="vanclUserName"></p>
                <div class="tips" id="vanclUserNameError" style="visibility: hidden;">用户名不能为空!</div>
                <p><label>密&#12288;码：</label><input type="password" value="" class="inputtextcolor" name="vanclPassword" id="vanclPassword"></p>
                <div class="tips" id="vanclPasswordError">密码不能为空!</div>
                <p style="display:none" id="pValidate"><label>验证码：</label><input type="text" value="" class="inputtextcolor" name="calcultatevalidate" id="calculatevalidate" style="width: 65px; ime-mode: disabled; -moz-user-select: none;" maxlength="6">
                <img style="vertical-align: middle; width: 145px; height: 53px; cursor: pointer;" src="" oldsrc="/Controls/CalculateValidateCode.ashx?key=Login" id="img_validate"><a href="javascript:void(0)" style="cursor: pointer; float:right; line-height:18px;">看不清?换一张</a>
                </p>
                <div class="tips" id="validateError">验证码不能为空!</div>
                <div class="bt"><a href="#" class="log" id="vanclLogin">登&#12288;录</a>&#12288;<a href="{url:/simple/find_password/}" class="forget">忘记密码啦？</a></div>
                <div class="tishi">
                    <span>提示：</span>还不是{echo:$siteConfig->name}会员？点击这里<a href="javascript:void(0);" id="gotoReg">免费注册</a>
					<p>
					使用合作网站账号登录：</br>
					{query:name=oauth where = is_close eq 0}
								<img title="{$item['name']}" src='{webroot:$item[logo]}' onclick="oauthlogin('{$item['id']}')" style="cursor:pointer;"/>
					{/query}
					</p>
                </div>
                
                <!--tishi-->
            </div><!--user_infor-->
        </div><!--shows-->
    </div><!--login-->
    <div class="advert">
        <img id="_advertImage" src="https://ssl.vanclimg.com/users/26/20120411/login120412.jpg">
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
/*函数在这里*/
function scroll(a, b, c, d, e) {
var EACH = function (o, fn) { for (var i = 0; i < o.length; i++) { fn.call(o[i], i, o) } }
var GF = function (o, t) { var s = o.getElementsByTagName(t), R = []; EACH(s, function (i, v) { s[i].parentNode == o && R.push(s[i]); }); return R; }
var G = function (x, y) { return GF(document.getElementById(x), y); }
var T = G(a, b), S = G(c, d); _show(0);
EACH(T, function (i, o) { T[i].onclick = (function (n) { return function () { _show(n); } })(i); });
function _show(n) { EACH(T, function (i, o) { S[i].style.display = "none"; T[i].className = "" }); T[n].className = e; S[n].style.display = "block"; }
}
/*用法在这里*/
/*绑定id为tags里的li为标签, id为shows里的div为展示层, hov为标签选中时的样式*/
scroll("tags", "li", "shows", "div", "on");
function oauthlogin(oauth_id)
		{
			$.getJSON('{url:/simple/oauth_login}',{id:oauth_id,callback:"{$callback}"},function(content){
				if(content.isError == false)
				{
					window.location.href = content.url;
				}
				else
				{
					alert(content.message);
				}
			});
		}
</script> 