<link rel="stylesheet" href="{skin:css/v_music.css}" />
<div class="section" id="player">
	<span class="rc-tl round"></span>
	<span class="rc-tr round"></span>
	<span class="rc-bl round"></span>
	<span class="rc-br round"></span>
	<h3 class="section-title">
		音乐畅听
	</h3>
	<div page="0" pageunit="10" pagecount="2" class="tab pagetab">
		<b class="button prev inactive" page="-1">上一页</b>
		<b class="button next" page="1">下一页</b>
		<a style="display: inline-block;" class="item" title="酷我音乐 " page="0"
			target="player-frame"
			href="http://player.kuwo.cn/webmusic/web/play?f=hao123"
			hidefocus="hidefocus" pid="kuwo_mb"><img
				src="http://www.hao123.com/images/music/provider/kuwomb.png"
				class="logo"><span class="title">酷我音乐 </span>
		</a><a style="display: inline-block;" class="item" title="酷狗音乐 " page="0"
			target="player-frame" href="http://web.kugou.com/hao123.html"
			hidefocus="hidefocus" pid="kugou_mb"><img
				src="http://www.hao123.com/images/music/provider/newkugou-mb.png"
				class="logo"><span class="title">酷狗音乐 </span>
		</a><a style="display: inline-block;" class="item" title="音悦TV " page="0"
			target="player-frame" href="http://www.yinyuetai.com/baidu/hao123"
			hidefocus="hidefocus" pid="yinyuetai_fm"><img
				src="http://www.hao123.com/images/music/provider/green-64.png"
				class="logo"><span class="title">音悦TV </span>
		</a><a style="display: inline-block;" class="item" title="百度随心听 " page="0"
			target="player-frame" href="http://fm.baidu.com/?embed=hao123"
			hidefocus="hidefocus" pid="suixinting_fm"><img
				src="http://www.hao123.com/images/music/provider/suixintingicon.png"
				class="logo"><span class="title">百度随心听 </span>
		</a><a style="display: inline-block;" class="item" title="贝瓦电台 " page="0"
			target="player-frame" href="http://app.beva.com/hao123/fm/index.html"
			hidefocus="hidefocus" pid="beva_fm"><img
				src="http://www.hao123.com/images/music/provider/beva.png"
				class="logo"><span class="title">贝瓦电台 </span>
		</a><a style="display: inline-block;" class="item" title="豆瓣FM " page="0"
			target="player-frame" href="http://douban.fm/partner/playerhao123"
			hidefocus="hidefocus" pid="douban_fm"><img
				src="http://www.hao123.com/images/music/provider/douban.png"
				class="logo"><span class="title">豆瓣FM </span>
		</a><a style="display: inline-block;" class="item" title="QQ音乐 " page="0"
			target="player-frame" href="http://y.qq.com/webplayer/index.html"
			hidefocus="hidefocus" pid="qq_mb"><img
				src="http://www.hao123.com/images/music/provider/qq1.png"
				class="logo"><span class="title">QQ音乐 </span>
		</a><a style="display: inline-block;" class="item" title="一听音乐 " page="0"
			target="player-frame" href="http://www.1ting.com/api/hao123/"
			hidefocus="hidefocus" pid="1ting_mb"><img
				src="http://www.hao123.com/images/music/provider/1ting.png"
				class="logo"><span class="title">一听音乐 </span>
		</a><a style="display: inline-block;" class="item cur" title="虾米音乐 "
			page="0" target="player-frame"
			href="http://www.xiami.com/player/hao123/" hidefocus="hidefocus"
			pid="xiami_mb"><img
				src="http://www.hao123.com/images/music/provider/xiami.png"
				class="logo"><span class="title">虾米音乐 </span>
		</a><a style="display: inline-block;" class="item" title="九酷听听 " page="0"
			target="player-frame" href="http://app.jiuku.com/hao123/index.html"
			hidefocus="hidefocus" pid="jiuku_mb"><img
				src="http://www.hao123.com/images/music/provider/jiuku.png"
				class="logo"><span class="title">九酷听听 </span>
		</a><a style="display: none;" class="item" title="虾米电台 " page="1"
			target="player-frame" href="http://www.xiami.com/kuang/hao123/"
			hidefocus="hidefocus" pid="xiami_fm"><img
				src="http://www.hao123.com/images/music/provider/xiami.png"
				class="logo"><span class="title">虾米电台 </span>
		</a><a style="display: none;" class="item" title="酷我电台 " page="1"
			target="player-frame"
			href="http://player.kuwo.cn/webmusic/kuwodt/diantai123.html"
			hidefocus="hidefocus" pid="kuwo_fm"><img
				src="http://www.hao123.com/images/music/provider/kuwoIcon.png"
				class="logo"><span class="title">酷我电台 </span>
		</a><a style="display: none;" class="item" title="酷狗电台 " page="1"
			target="player-frame" href="http://topic.kugou.com/radio/"
			hidefocus="hidefocus" pid="kugou_fm"><img
				src="http://www.hao123.com/images/music/provider/kugou-fm.png"
				class="logo"><span class="title">酷狗电台 </span>
		</a>
	</div>
	<div style="display: block;" class="wrapper">
		<a class="close" href="###">关闭</a>
		<iframe scrolling="no" frameborder="0"
			src="http://www.xiami.com/player/hao123/" name="player-frame"
			id="player-frame" style="display: block;"></iframe>
	</div>
</div>
<script src="{theme:javascript/v_music.js}"></script>