<script language="javascript" type="text/javascript">
{set:$step = IReq::get('step')==''?'1':IReq::get('step')}
{set:$formAction = $this->formAction}

var step = {$step};
var message = "{$this->message}";
var formaAction = "{$formAction}";
</script>
<script type="text/javascript" src="{theme:/javascript/v_findpassword.js}"></script>
<div class="wrapper">
	
	<div id="asRetrieve_passwordBar">
		<h3>
			找回密码
		</h3>
		<span class="box15"></span>
		{if:$step == 3}
	<!-- setp3 -->
		<div class="asRetrieve_pwContent">
			<p class="sprite_a pwContentTitle03">
				<span class="asfontnone">3.重置密码</span>
			</p>
			<span class="box30"></span>
			<ul id="asRetrieve_pwList">
				<li>
					<span class="editName">请输入新密码：</span>
					<input type="password" class="editInput02" id="input_password"
						name="textfield">
					<div class="v2reg_Safetyinfo" style="display: none;">
						<span class="v2regfl">安全强度：</span>
						<div class="v2regimg_01"></div>
						<span class="v2reg_Class">低</span>
					</div>
					<span class="box5"></span>
					<p id="CheckRePassWord" style="margin-left: 210px;" class=""></p>
				</li>
				<li>
					<span class="editName">再次输入密码：</span>
					<input type="password" class="editInput02" id="input_password1"
						name="textfield">
					<span class="box5"></span>
					<span id="ReCheckRePassWord" style="margin-left: 210px;" class=""></span>
				</li>
				<li>
					<a class="sprite_a DetermineBtn" href="javascript:">确定</a>
				</li>
			</ul>
			<span class="box10"></span>
		</div>
		{else:}
		<div class="asRetrieve_pwContent">
			<p class="sprite_a pwContentTitle04">
				<span class="asfontnone">4.完成</span>
			</p>
			<span class="box50"></span>
			<p class="sprite_a asVerify_Complete">
				<span class="asfontnone">恭喜您修改成功，请妥善保存您的密码。</span>
			</p>
			<span class="box50"></span>
			<p class="asVerify_CompCtn">
				页面会在
				<b id="times" class="fontreda"></b>秒内跳转至登陆页面。
			</p>
			<span class="box50"></span>
		</div>
		{/if}

	</div>
</div>