
@charset "utf-8";
#asRetrieve_passwordBar {
	border: 1px solid #DCDFE5;
	padding: 20px 45px;
	width: 889px;
}

#asRetrieve_passwordBar h3 {
	border-bottom: 1px solid #565662;
	color: #A40000;
	font-family: "微软雅黑";
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 36px;
}

.pwContentTitle01 {
	background-position: 0 -744px;
	height: 34px;
}

.pwContentTitle02 {
	background-position: 0 -793px;
	height: 34px;
}

.pwContentTitle03 {
	background-position: 0 -842px;
	height: 34px;
}

.pwContentTitle04 {
	background-position: 0 -889px;
	height: 34px;
}

#asRetrieve_pwList {
	margin: 0 auto;
	width: 640px;
}

#asRetrieve_pwList li {
	height: 60px;
	margin-bottom: 5px;
	overflow: hidden;
}

#asRetrieve_pwList .editName {
	color: #000000;
	float: left;
	line-height: 27px;
	text-align: right;
	width: 210px;
}

#asRetrieve_pwList .editInput,#asRetrieve_pwList .editInput01,#asRetrieve_pwList .editInput02
	{
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #7E9DB9;
	float: left;
	height: 18px;
	line-height: 18px;
	margin-top: 4px;
	text-indent: 5px;
	width: 240px;
}

#asRetrieve_pwList .editInput01 {
	width: 85px;
}

#asRetrieve_pwList .editInput02 {
	width: 175px;
}

#asRetrieve_pwList .huanimg {
	color: #808080;
	float: left;
	text-decoration: none;
	width: 40px;
}

#asRetrieve_pwList .vercode {
	display: inline;
	float: left;
	margin: 3px 7px 0;
}

#asRetrieve_pwList .DetermineBtn {
	background-position: 0 -276px;
	border: 0 none;
	color: #FFFFFF;
	display: block;
	height: 27px;
	line-height: 24px;
	margin-left: 210px;
	overflow: hidden;
	text-align: center;
	width: 78px;
}

.asRetrieve_pwtips {
	background: none repeat scroll 0 0 #FEFEF1;
	border: 1px solid #FFEEC4;
	color: #999999;
	line-height: 22px;
	padding: 15px;
}

.asfindChannel,.asmozVerify,.asmozMessaging {
	color: #000000;
	text-align: center;
}

.asfindChannel select {
	vertical-align: middle;
}

.asmozVerifyBtn {
	background-position: 0 -354px;
	border: 0 none;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin-left: 7px;
	vertical-align: middle;
	width: 97px;
}

.asmozMessaging {
	color: #000000;
}

.asmozMessaging input {
	border: 1px solid #7E9DB9;
	height: 20px;
	line-height: 20px;
	text-indent: 5px;
	vertical-align: middle;
	width: 85px;
}

.asmozMessagBtn {
	background-position: 0 -276px;
	border: 0 none;
	color: #FFFFFF;
	display: block;
	height: 27px;
	line-height: 24px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	width: 80px;
}

.asVerify_Complete {
	background-position: 0 -960px;
	height: 30px;
	margin: 0 auto;
	width: 430px;
}

.asVerify_CompCtn {
	color: #000000;
	text-align: center;
}

.asVerify_mailfondmima {
	color: #444444;
	display: inline;
	float: left;
	line-height: 20px;
	width: 285px;
}

.asVerifymailtb {
	background-position: -20px -102px;
	display: inline;
	float: left;
	height: 80px;
	margin-left: 80px;
	padding-left: 65px;
}

.Rclear {
	clear: both;
	display: block;
	font-size: 0;
	line-height: 0;
}

#v2regListInfo_bar li {
	clear: both;
	margin-top: 3px;
	padding: 10px 0;
}

#v2regListInfo_bar label {
	float: left;
	line-height: 22px;
}

.v2regListInfo_rtCont {
	float: left;
	width: 432px;
}

.reginput_01,.reginput_02 {
	border: 1px solid #A5AFC3;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-right: 8px;
	width: 198px;
}

.reginput_02 {
	width: 48px;
}

.v2regList_Btnimg {
	background: url("../images/front/sprite_a.png") no-repeat
		scroll 0 -354px transparent;
	float: left;
	height: 22px;
	margin-top: -3px;
	padding-left: 5px;
	padding-top: 5px;
	position: relative;
	width: 97px;
}

.v2regList_Btnimg img {
	margin-right: 3px;
}

.v2regBtn_02 {
	float: left;
	margin-top: 5px;
}

.v2reg_Safetyinfo {
	color: #666666;
	float: left;
	line-height: 22px;
	padding: 3px 5px;
}

.v2regfl,.v2regimg_01 {
	float: left;
}

.v2regimg_01 {
	background: url("../images/front/sprite_a.png") no-repeat
		scroll 0 -1097px transparent;
	float: left;
	height: 12px;
	margin-right: 5px;
	margin-top: 5px;
	overflow: hidden;
	width: 140px;
}

.v2regimg_02 {
	background: url("../images/front/sprite_a.png") no-repeat
		scroll 0 -1117px transparent;
	float: left;
	height: 12px;
	margin-right: 5px;
	margin-top: 5px;
	overflow: hidden;
	width: 140px;
}

.v2regimg_03 {
	background: url("../images/front/sprite_a.png") no-repeat
		scroll 0 -1139px transparent;
	float: left;
	height: 12px;
	margin-right: 5px;
	margin-top: 5px;
	overflow: hidden;
	width: 140px;
}

.v2reg_tips01 {
	border: 1px solid #FFFFFF;
	color: #999999;
	display: inline-block;
	line-height: 18px;
	padding: 3px 5px;
}

.v2reg_bg {
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #F2F2F2;
}

.v2reg_tips02 {
	border: 1px solid #FFD5D5;
	color: #A10000;
	display: inline-block;
	line-height: 18px;
	padding: 3px 5px;
}

.change-img_01 {
	float: left;
	margin-left: 7px;
}

.v2reg_bt {
	margin-left: 100px;
}

.v2reg_Class {
	float: left;
}

.box3 {
	clear: both;
	display: block;
	font-size: 0;
	height: 3px;
	line-height: 0;
}

.box5 {
	clear: both;
	display: block;
	font-size: 0;
	height: 5px;
	line-height: 0;
}

.orderChangeTsk0131 {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #A10000;
	height: 150px;
	position: absolute;
	width: 305px;
	z-index: 6;
}

.orderChangeTsk0131 h3 {
	background: url("../images/front/tsbg0117.jpg") repeat-x
		scroll left top transparent;
	color: #FFFFFF;
	height: 23px;
	line-height: 23px;
	width: 305px;
}

.orderChangeTsk0131 h3 span {
	float: left;
	font-weight: bold;
	margin-left: 3px;
}

.orderChangeTsk0131 h3 a {
	display: inline;
	float: right;
	margin-right: 6px;
}

.orderChangeTsk0131 h3 a:link,.orderChangeTsk0117 h3 a:visited {
	color: #FFFFFF;
}

.orderChangeTsk0131 h3 a img {
	display: inline;
	float: left;
	margin-top: 6px;
}

.orderChangeTsk0131 .word0131 {
	color: #333333;
	font-size: 12px;
	line-height: 18px;
	margin: 25px auto 18px;
	text-align: left;
	width: 260px;
}

.orderChangeTsk0131 .queding0117 {
	background: url("../images/front/queding0117.jpg")
		no-repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	height: 19px;
	margin: 0 0 0 125px;
	width: 56px;
}

.orderChangeTsk80EE8D67985E {
	background-color: #FFFFFF;
	border: 1px solid #A10000;
	height: auto;
	overflow: hidden;
	padding-bottom: 15px;
	position: fixed;
	width: 300px;
	z-index: 1000006;
}

.orderChangeTsk80EE8D67985E h3 {
	background: url("../images/front/tsbg0117.jpg")
		repeat-x scroll left top transparent;
	color: #FFFFFF;
	height: 23px;
	line-height: 23px;
	width: 300px;
}

.orderChangeTsk80EE8D67985E h3 span {
	float: left;
	margin-left: 3px;
}

.orderChangeTsk80EE8D67985E h3 a:link,.orderChangeTsk80EE8D67985E h3 a:visited
	{
	color: #FFFFFF;
	float: right;
	margin-right: 6px;
}

.orderChangeTsk80EE8D67985E h3 a img {
	display: inline;
	float: left;
	margin-top: 6px;
}

.orderChangeTsk80EE8D67985E .Word80EE8D67985E {
	color: #333333;
	font-size: 12px;
	line-height: 18px;
	margin: 15px auto 10px;
	padding: 0 10px;
	text-align: left;
}

.orderChangeTsk80EE8D67985E div {
	display: inline;
	float: left;
	margin: 0 0 0 120px;
}

.orderChangeTsk80EE8D67985E div .queding80EE8D67985E {
	background:
		url("../images/front/queding0117.jpg")
		no-repeat scroll 0 0 transparent;
	border: medium none;
	cursor: pointer;
	float: left;
	height: 19px;
	width: 56px;
}

.orderChangeTsk80EE8D67985E div span {
	float: left;
	margin-left: 10px;
	margin-top: 2px;
}

.orderChangeTsk80EE8D67985E div span a:link,.orderChangeTsk80EE8D67985E span div a:visited
	{
	text-decoration: underline;
}

#maskdiv80EE8D67985E {
	background: none repeat scroll 0 0 black;
	border: 0 none;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}

.iFloatingwindow {
	background: none repeat scroll 0 0 #FFF7F7;
	border: 1px solid #FFB8B8;
	display: none;
	left: 0;
	padding: 7px;
	position: absolute;
	top: 35px;
}

.iFloatingwindow dd {
	color: #000000;
	float: left;
	font-family: Verdana;
	line-height: 24px;
	margin-left: 5px;
}

.iFloatingwindow .inviteTips_ft {
	clear: left;
	color: #804117;
	line-height: 20px;
	margin-top: 5px;
	text-align: center;
	width: 180px;
}

.iFloatingwindow .inviteTips_ft img {
	margin-right: 5px;
	margin-top: 0;
	vertical-align: middle;
}

.iFloatingwindow .inviteTips_img img {
	margin-top: 0;
	vertical-align: middle;
}

.iFloatingwindow .inviteTips_img a,.iFloatingwindow .inviteTips_img a:visited
	{
	display: inline-block;
	height: 25px;
}

.iFloatingInput {
	border: 1px solid #AAAAAA;
	font-weight: bold;
	text-align: center;
	width: 40px;
}

.ftgry6 {
	color: #666666;
}

a.grayft6:link,a.grayft6:visited {
	color: #666666;
}

.iFloatingIco {
	left: 33px;
	position: absolute;
	top: -10px;
}