
body, html {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}
img {
    border: medium none;
}
h1, h2, h3, h4, h5, h6, hr, blockquote, form, ul, ol, li, p, pre, dl, dt, dd, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none outside none;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000000;
}
fieldset {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hr_10 {
    clear: both;
    font-size: 1px;
    height: 10px;
    line-height: 1px;
    overflow: hidden;
}
body, button, input, select, textarea {
    color: #000000;
    font-family: "宋体";
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal;
}
code, kbd, pre, samp {
    font-family: courier new,courier,monospace;
}
.bold {
    font-weight: bold;
}

a, area {
}
:focus {
}
.topMargin5 {
    margin-top: 5px;
}
.topMargin10 {
    margin-top: 10px;
}
.topMargin15 {
    margin-top: 15px;
}
.topMargin20 {
    margin-top: 20px;
}
.leftMargin5 {
    margin-left: 5px;
}
.leftMargin10 {
    margin-left: 10px;
}
.wrapper {
    border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
    margin: 30px auto 10px;
    width: 800px;
}
.login {
    background-color: #FAFAFA;
    border: 1px solid #D1D1D1;
    float: left;
    margin-bottom: 20px;
    margin-top: 18px;
    width: 312px;
}
.tag {
    border-bottom: 1px solid #A10000;
    height: 26px;
    line-height: 26px;
    width: 312px;
}
.tag li {
    background: url("../images/front/spritesbg.png") repeat-x scroll 0 -690px transparent;
    color: #656565;
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 156px;
}
.tag li.on {
    background-color: #75001B;
    color: #FFFFFF;
    float: left;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 156px;
}
.user_infor {
    padding: 10px 30px;
    width: 252px;
}
.tips {
    background: url("../images/front/shurubg0316.jpg") no-repeat scroll 0 0 #FFF6F7;
    border: 1px solid #CC9998;
    clear: both;
    color: #A10000;
    display: block;
    line-height: 16px;
    margin-left: 48px;
    min-height: 16px;
    text-indent: 25px;
    visibility: hidden;
    width: 220px;
}
.user_infor {
    padding: 10px 20px;
    width: 272px;
}
.user_infor p {
    padding: 2px 0;
}
.user_infor p label {
    color: #656565;
}
.user_infor p input {
    border: 1px solid #A5AFC3;
    color: #999999;
    height: 28px;
    line-height: 28px;
    text-indent: 5px;
    vertical-align: middle;
    width: 220px;
}
.bt {
    padding: 2px 0 15px 48px;
}
.bt a.log {
    background-color: #75001B;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 27px;
    line-height: 27px;
    margin-right: 5px;
    text-align: center;
    width: 97px;
}
.bt a.loading {
    background: url("../images/front/bt2.jpg") no-repeat scroll center center transparent;
    color: #656565;
    display: block;
    float: left;
    height: 27px;
    line-height: 27px;
    margin-right: 5px;
    padding-top: 0;
    text-align: center;
    width: 97px;
}
.bt a.loading img {
    vertical-align: middle;
}
.bt a.log:hover {
    font-weight: 700;
    text-decoration: none;
}
.bt a.forget {
    display: inline;
    line-height: 30px;
}
.tishi {
    color: #656565;
    line-height: 24px;
    /*padding-left: 10px;*/
}
.tishi span {
    color: #A10000;
}
.tishi a:link, .tishi a:visited {
    background-color: #A10000;
    color: #FFFFFF;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    margin-left: 5px;
    text-align: center;
    width: 61px;
}
.tishi a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.advert {
    float: left;
    height: auto;
    width: auto;
}
.user_infor p input.inputtextcolor {
    color: #000000;
}
#Head {
    
}
.subFooter {
    margin-bottom: 25px;
    text-align: center;
}
#footerArea .redLogo:link, #footerArea .redLogo:visited, #footerArea .redLogo:hover {
    background: url("../images/front/spritesbg.png") no-repeat scroll 0 -400px transparent;
    display: inline-block;
    height: 42px;
    width: 113px;
}
#footerArea .subFooter a, #footerArea .subFooter span {
    margin: 0 10px;
}
#footerArea .costumeOrg {
    background: url("../images/front/spritesbg.png") no-repeat scroll 0 -448px transparent;
    display: inline-block;
    height: 45px;
    width: 156px;
}
#footerArea .wsjyBzzx:link, #footerArea .wsjyBzzx:visited, #footerArea .wsjyBzzx:hover {
    background: url("../images/front/spritesbg.png") no-repeat scroll 0 -494px transparent;
    display: inline-block;
    height: 42px;
    width: 96px;
}
#footerArea .vanclMsg:link, #footerArea .vanclMsg:visited, #footerArea .vanclMsg:hover {
    background: url("../images/front/spritesbg.png") no-repeat scroll -97px -494px transparent;
    display: inline-block;
    height: 42px;
    width: 101px;
}
.blank10 {
    clear: both;
    display: block;
    font-size: 1px;
    height: 10px;
    overflow: hidden;
}
.glup {
    border-top: 1px dotted #ACACAC;
    height: 60px;
    padding-left: 10px;
    width: 270px;
}
.hezuo {
    color: #333333;
    font-weight: normal;
    line-height: 12px;
}
.adImg a {
    background: url("https://ssl.vanclimg.com/apilogin/glbg.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    margin-right: 4px;
    width: 63px;
}
.adImg .adImg01 {
    background: url("https://ssl.vanclimg.com/apilogin/glbg.png") no-repeat scroll -67px 0 transparent;
    width: 53px;
}
.adImg .adImg02 {
    background: url("https://ssl.vanclimg.com/apilogin/glbg.png") no-repeat scroll -123px 0 transparent;
    width: 73px;
}
.adImg .adImg03 {
    background: url("https://ssl.vanclimg.com/apilogin/glbg.png") no-repeat scroll -199px 0 transparent;
}
