
body {
    font-family: SIMSUN,"宋体",monospace;
}
s, u {
    text-decoration: none;
}
a:hover {
    color: #0053A5;
    text-decoration: underline;
}
.nav-container li {
}
.nav-container li a.rightb {
    font-family: Arial;
}
#bd .rc-tl, #bd .rc-bl {
    left: -1px;
}
#bd .rc-tr, #bd .rc-br {
    right: -1px;
}
#bd .rc-tl, #bd .rc-tr {
}
#bd .rc-bl, #bd .rc-br {
    bottom: -1px;
}
.subnav dt {
    text-align: center;
}
.subnav dd {
    width: 93px;
}
#bd {
    border: medium none;
    margin-top: 0;
}
.section {
    border-top: 1px solid #E2E2E2;
    margin-top: 10px;
}
.section-title {
    color: #A10000;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
}
.section-title {
    padding-top: 6px;
}
.section-title .title {
    float: left;
}
.section-title .more {
    color: #0A8305;
    float: right;
    font-weight: normal;
}
#player {
    border: 1px solid #E1E1E1;
    margin: auto;
    padding: 1px;
    position: relative;
    width: 980px;
}
#player .section-title {
    background: url("../images/front/areaHeadBg.gif") repeat scroll 0 0 transparent;
    padding-top: 0;
}
#player .wrapper {
    background: -moz-image-rect(url("../images/front/music-sprite.png"), 200, 10, 210, 0) repeat scroll 0 0 #414141;
    height: 565px;
    position: relative;
    z-index: 1;
}
#player-frame {
    display: block;
    height: 515px;
    left: 105px;
    position: absolute;
    top: 26px;
    width: 745px;
}
#player .tab {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #F9FBFB;
    height: 107px;
    padding-left: 52px;
    padding-top: 4px;
    position: relative;
    z-index: 2;
}
#player .tab b.button {
    background: url("../images/front/music-sprite.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    font-size: 0;
    height: 90px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -1000em;
    top: 8px;
    width: 32px;
    z-index: 4;
}
#player .tab b:hover {
    background-color: #EEEEEE;
}
#player .tab b.prev.inactive {
    background-color: transparent;
    background-position: 2px 20px;
}
#player .tab b.next.inactive {
    background-color: transparent;
    background-position: -44px 20px;
}
#player .tab b.prev {
    background-position: 2px -70px;
    left: 8px;
}
#player .tab b.next {
    background-position: -44px -70px;
    right: 8px;
}
#player .tab b.inactive {
    cursor: default;
}
#player .tab .item {
    display: inline-block;
    height: 102px;
    margin-left: -1px;
    outline: medium none;
    text-decoration: none;
    width: 86px;
}
#player .tab a:hover {
    background: url("../images/front/music-sprite.png") repeat scroll -100px -150px transparent;
    position: relative;
    z-index: 10;
}
#player .tab a.cur, #player .tab a.cur:hover {
    background: url("../images/front/music-sprite.png") repeat scroll -100px 0 transparent;
    height: 128px;
    margin-bottom: -32px;
    margin-left: -1px;
    margin-right: -3px;
    padding-right: 3px;
    position: relative;
    z-index: 2;
}
#player .tab .item .logo {
    display: block;
    height: 64px;
    margin: 11px 11px 5px;
    width: 64px;
}
#player .tab .item .title {
    color: #666666;
    display: block;
    height: 15px;
    margin-left: 7px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 72px;
}
#player .close {
    background: url("../images/front/music-sprite.png") no-repeat scroll -940px -6px transparent;
    color: #CCCCCC;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    outline: medium none;
    padding-left: 16px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 32px;
}
#player .close:hover {
    color: #FFFFFF;
}
#zhuanti .list {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 14px;
    width: 936px;
}
#zhuanti .list .item {
    float: left;
    font-size: 12px;
    height: 132px;
    width: 187px;
}
#zhuanti .list .item .poster {
    border: 1px solid white;
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 175px;
}
#zhuanti .list .item .poster:hover {
    border-color: #26A81D;
}
#zhuanti .list .item .poster img {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block;
    height: 100px;
    width: 175px;
}
#zhuanti .list .item .title {
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 181px;
}
#zhuanti .list .item .title a {
    color: #666666;
}
#zhuanti .list .item .title a:hover {
    color: #333333;
    text-decoration: underline;
}
#hotlist {
    border-bottom: 1px solid #E2E2E2;
    overflow: hidden;
}
#mainlists {
    border-right: 1px solid #E2E2E2;
    float: left;
    height: 548px;
    overflow: hidden;
    width: 625px;
}
#mainlists .section-title {
    padding-right: 30px;
}
#mainlists .wrapper {
    display: inline-block;
    margin-right: 14px;
    width: 640px;
}
#mainlists .list {
    float: left;
    padding-left: 4px;
    padding-right: 40px;
    padding-top: 16px;
    width: 272px;
}
#mainlists .list .tab {
    border-bottom: 1px solid #E2E2E2;
    height: 27px;
}
#mainlists .list .tab .item {
    float: left;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-bottom: -1px;
    position: relative;
    text-align: center;
    width: 96px;
}
#mainlists .list .tab .cur {
    background: url("../images/front/music-sprite.png") repeat scroll -200px 0 transparent;
}
#mainlists .list .page {
    display: none;
    padding-top: 4px;
}
#mainlists .list ul.cur {
    display: block;
}
#mainlists .list ul li {
    border-bottom: 1px solid #E2E2E2;
    height: 39px;
}
#mainlists .list ul i {
    color: #666666;
    float: left;
    font-family: "Arial";
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 38px;
    text-align: center;
    width: 32px;
}
#mainlists .list ul .hilight i {
    color: #FF4E10;
}
#mainlists .list ul b {
    color: #0053A5;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 39px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
#mainlists .list ul b a {
}
#mainlists .list ul p {
    float: left;
    width: 32px;
}
#mainlists .list ul p a {
    background: url("../images/front/music-sprite.png") repeat scroll -300px 0 transparent;
    float: left;
    height: 28px;
    margin-left: 4px;
    margin-top: 4px;
    width: 20px;
}
#mainlists .list ul p a:hover {
    background-position: -300px -36px;
}
#mainlists .list .playall {
    border: medium none;
    padding-top: 4px;
}
#mainlists .list .playall .button {
    background: url("../images/front/music-sprite.png") repeat scroll -324px 0 transparent;
    float: right;
    height: 29px;
    margin-top: 8px;
    width: 124px;
}
#mainlists .list .playall .button:hover {
    background-position: -324px -36px;
}
#musictypes, #singers {
    border-left: 1px solid #E2E2E2;
    float: left;
    margin-left: -1px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    width: 326px;
}
#musictypes .list {
    margin-left: 15px;
    overflow: hidden;
    padding: 12px 0 8px;
    width: 312px;
}
#musictypes li {
    float: left;
    line-height: 27px;
    margin-left: -1.5em;
    margin-right: 1.5em;
    white-space: nowrap;
}
#musictypes li a {
}
#musictypes s {
    color: #999999;
    padding: 0 0.75em;
    text-decoration: none;
}
#singers .list {
    margin-left: 12px;
    table-layout: fixed;
    width: 300px;
}
#singers .list thead td {
    height: 100px;
    padding: 8px 0;
    text-align: center;
    vertical-align: middle;
}
#singers .list td {
    width: 100px;
}
#singers .list tbody p {
    line-height: 24px;
    overflow: hidden;
    padding-left: 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
}
#singers .list img {
    border: 1px solid #EEEEEE;
    display: block;
    height: 90px;
    margin: 0 auto;
    width: 90px;
}
#singers .list a:hover img {
    border-color: #16A20D;
}
#singers .list b {
    background: none repeat scroll 0 0 black;
    display: block;
    height: 22px;
    margin: -22px auto 0;
    opacity: 0.5;
    width: 92px;
}
#singers .list u {
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    margin: -22px auto 0;
    overflow: hidden;
    position: relative;
    width: 88px;
}
#singers .list thead a {
    text-decoration: none;
}
