{set:$seo_data=array();$site_config=new
Config('site_config');$site_config=$site_config->getInfo();}

{set:$seo_data['title']=isset($site_config['name'])?$site_config['name']:""}
{set:$seo_data['title']=$this->cat_row['name'].'_'.$seo_data['title'] }
{set:seo::set($seo_data);} {set:$cat_id=$this->cat_row['id'];}
<div class="helpCon">
	<div class="helpCenterHead">
		<div style="height: 15px; clear: both; overflow: hidden">
		</div>
		<p class="helpCenterTitle">
			<span>您当前的位置：</span><a href="{url:}">首页</a><span>&gt;</span><a
				href="{url:/site/help_list/id/$cat_id}">{$this->cat_row['name']}</a>
		</p>
	</div>
	<div class="blank0">
	</div>
	<div class="help_left">
		<!-- 自助服务 -->
		<!-- 帮助导航 -->
		<div class="fuwu">
			<h1>
				<em></em>帮助导航
				<em></em>
			</h1>
			<div style="padding-bottom: 0px; border-bottom: none;"
				class="selfSeviserBox">
				<div class="nav">
					<ul id="silder">
						<li class="nav_li nav_li_hover" id="li_17">
							<a href="javascript:void(0);">{$this->cat_row['name']}</a>
						</li>
						{query:name=help_category where=position_left eq 1 order=sort
						desc,id desc}
						<li class="nav_nr" id="cate_17" style="display: block;">
							{query:name=help where=cat_id eq $cat_id order=sort desc,id desc
							item=$help_row}
							<a href="{url:/site/help/id/$help_row[id]/}" class="track"
								name="left_category_22">{$help_row['name']}</a>
							<br>
							{/query}
						</li>
						{/query}
					</ul>
				</div>
			</div>
		</div>

		<!-- 联系客服 -->
		<div class="fuwu topMargin10">
			<h1>
				<em></em>联系方式
				<em></em>
			</h1>
			<div class="selfSeviserBox">
				<div class="lianxi clearfix">
					<p>
						<span>热线：18280460862</span>
					</p>
					<p>
						邮箱：
						<b>qiaitao@gmail.com </b>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="help_right">
		<div class="liucheng">
			<div class="biaoti">
				<b>{$this->cat_row['name']}</b>
			</div>
			{set:$id=intval(IReq::get('id'));} {set:$page=
			(isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
			<div class="question">
				<ul>
					{if:null === IReq::get('id')} {query:name=help order=sort desc,id
					desc page=$page }
					<li>
						<a href="{url:/site/help/id/$item[id]/}">{$item['name']}</a>
					</li>
					{/query} {else:} {query:name=help where=cat_id eq $id order=sort
					desc,id desc page=$page }
					<li>
						<a href="{url:/site/help/id/$item[id]/}">{$item['name']}</a>
					</li>
					{/query} {/if}
				</ul>
			</div>
			<div class="pageRight">
				<script type="text/javascript" language="javascript">function _MvcPager_Keydown(e){var _kc,_pib;if(window.event){_kc=e.keyCode;_pib=e.srcElement;}else if(e.which){_kc=e.which;_pib=e.target;}var validKey=(_kc==8||_kc==46||_kc==37||_kc==39||(_kc&gt;=48&amp;&amp;_kc&lt;=57)||(_kc&gt;=96&amp;&amp;_kc&lt;=105));if(!validKey){if(_kc==13){ _MvcPager_GoToPage(_pib,3);}if(e.preventDefault){e.preventDefault();}else{event.returnValue=false;}}}function _MvcPager_GoToPage(_pib,_mp){var pageIndex;if(_pib.tagName=="SELECT"){pageIndex=_pib.options[_pib.selectedIndex].value;}else{pageIndex=_pib.value;var r=new RegExp("^\\s*(\\d+)\\s*$");if(!r.test(pageIndex)){alert("页索引无效");return;}else if(RegExp.$1&lt;1||RegExp.$1&gt;_mp){alert("页索引超出范围");return;}}var _hl=document.getElementById(_pib.id+'link').childNodes[0];var _lh=_hl.href;_hl.href=_lh.replace('99999999',pageIndex);var evt=document.createEvent('MouseEvents');evt.initEvent('click',true,true);_hl.dispatchEvent(evt);_hl.href=_lh;}</script>
				{$query->getPageBar();}
			</div>
			<br class="clear">
		</div>
	</div>
</div>