	{set:$seo_data=array();$site_config=new Config('site_config');$site_config=$site_config->getInfo();}
	{set:$seo_data['title']=$this->word."_商品搜索"}
	{if:isset($site_config['name'])}
		{set:$seo_data['title'].="_".$site_config['name']}
	{/if}
	{set:seo::set($seo_data);}
<script type="text/javascript" src="{theme:javascript/cookie.js}"></script>
<div class="wrapper">

	<div class="fbListLeft">
		<!--   S 列表页分类    -->
		<div class="fbListKind">
		<div class="sweater-category">
				<span class="category-left">分类筛选</span><span class="category-right">
					<!--  a rel=""
					href="#">重置筛选项</a-->
				</span>
			</div>
		{query:name=goods as go join=left join category_extend as ca on go.id eq ca.goods_id left join category as c on c.id eq ca.category_id
					where  = go.name like '%$this->word%'
					fields = c.name,c.id,count(*) as num
					group  = ca.category_id
					}
					{set:$tmpWord=urlencode($this->word);}
			<div class="categorytitle-bg">
				<h4 class="other-h4">
					{$item['name']}
				</h4>
			</div>
			<div class="w90 clearfix">
				<!--class="category-visited" -->
				<span ><a class="track"
					name="ch_miook-01-search-0"
					href="{url:/site/search_list/word/$tmpWord/cat/$item[id]}">{$item['name']}({$item['num']})</a>
				</span>
			</div>
		{/query}
		</div>

		<span class="blank15"></span>
		<!--   E 列表页分类   -->

		<!--   S 一周销量排行    -->
		<div class="fbListOrder">
			<div class="sport-bg">
				<h2 class="fbListTitle02">
					<span>一周销量排行</span>
				</h2>
			</div>
			<div class="Hot_Ranking">
				<div style="display: block;" id="con_hotorder0_1">
					<span class="blan5"></span>
					{set:$imgIndex = 1;}
					{query:name=commend_goods as commend join=left join goods as go on go.id eq commend.goods_id 
					where  = commend_id eq 3 and go.is_del eq 0 AND go.id is not null
					fields = go.id,go.list_img,go.name,go.sell_price
					order = go.sort ASC,go.id DESC
					limit  = 5
					}
					<span class="blank5"></span>
					<ul>
						<li class="topImg1">
							<a title="{$item['name']}" target="_blank"
								href="{url:/site/products/id/$item[id]}" class="track"
								name="ch_miook-list-rank0064404"> <img title=""
									alt="{$item['name']}"
									original="{webroot:}{$item['list_img']}"
									src="{webroot:}{$item['list_img']}"
									style="display: inline;">
							</a>
						</li>
						<li class="topWord1">
							<p>
								<span class="topNum1 {if:$imgIndex<4} {echo:'top123'}{/if}">{echo:$imgIndex}</span>
							</p>
							<span class="blank5"></span>

							<p class="FBListPruName">
								<a title="{$item['name']}" target="_blank"
									href="{url:/site/products/id/$item[id]}" class="track"
									name="ch_miook-list-rank0064404">{$item['name']}</a>
							</p>
							<span class="blank5"></span>
							<p class="Sprice">
								售价：￥{$item['sell_price']}
							</p>
							<span class="blank5"></span>
						</li>
					</ul>
					{set:$imgIndex++;}
					{/query}
					<span class="blank0"></span>
					<span class="blank0"></span>
					<p class="FbOrdermore">
						<!--  a name="" class="track"
							href="{url:/site/pro_list}">更多&gt;&gt;</a-->
					</p>
					<span class="blank0"></span>
				</div>
			</div>
		</div>
		<!--   E 一周销量排行   -->
		<span class="blank15"></span>
		
		<!--   S 最近浏览过的商品    -->
		<span class="blank10"></span>
		<div class="fbListLately">
        <div class="sport-bg">
            <h2 class="fbListTitle02">
                <span>最近浏览过的商品</span></h2>
        </div>
        <div class="fbLatelyArea">
            <span class="blank5"></span>
            <p class="Latelyclear">
                <a href="javascript:clearhistory()">清空</a></p>
            <div id="history" style="display: block;">
                    <span class="blank5"></span>
                     {set:$cook_id ='0'}
					  {if:isset($_COOKIE['recentlyviewedproducts'])}
						{set:$cook_id = IFilter::act( substr($_COOKIE['recentlyviewedproducts'],0,-1) ); }
					  {/if}
					 {query:name=goods as lg  fields=lg.name,lg.market_price,lg.sell_price,lg.small_img,lg.id where=lg.id in ($cook_id) limit=10}
                  
                    <ul style="background:none;">
                     
                        <li class="topImg1"><a name="ch_miook-list-history-0" class="track" target="_blank" href="{url:/site/products/id/$item[id]}">
                            <img alt="{$item['name']}" src="{echo:IUrl::creatUrl().$item['small_img']}" original="{echo:IUrl::creatUrl().$item['small_img']}" style="display: inline;">
                        </a></li>
                        <li class="topWord1"><span class="blank15"></span>
                            <p class="FBListPruName">
                                <a target="_blank" name="ch_miook-list-history-0" class="track" href="{url:/site/products/id/$item[id]}">{$item['name']}</a></p>
                            <span class="blank5"></span>
                            <p class="Sprice">
                                售价：￥{$item['sell_price']}</p>
                            <span class="blank5"></span></li>
                     
                    </ul>
                     {/query}
            </div>
            <span class="blank0"></span>
        </div>
    	</div>
		<!--   E 最近浏览过的商品   -->
		<!--  span class="blank15"></span>
		<div class="fbListRightAD01">
			<a name="miook-search-ad-1" class="track" target="_blank"
				href="http://item.vancl.com/0035581.html"> <img
					style="display: block;"
					original="http://i1.vanclimg.com/others/2012/9/17/erjiye.jpg"
					src="http://i1.vanclimg.com/others/2012/9/17/erjiye.jpg" alt=""
					title=""> </a>
		</div>
		<span class="blank10"></span>
		<div style="" id="vjiaAd">
			<a target="_blank" rel="vv_ch_miook-0-ad-vjia"
				name="ch_miook-list-ad-vjia" class="track"
				href="http://mall.vjia.com/andostore?source=vancl-Channeltwopag-jx"><img
					original="http://i5.vanclimg.com/users/18/20130104/vancl-channeltwopag-jx_130104.jpg"
					style="width: 200px; height: 220px; display: inline;"
					src="http://i5.vanclimg.com/users/18/20130104/vancl-channeltwopag-jx_130104.jpg">
			</a>
		</div-->
		<span class="blank10"></span>
	</div>
	<div class="fbListRight">
		<span class="blank25"></span>
		<!--面包屑开始-->
		<div class="fbCurrent">
			<a href="{url:}" rel="">首页</a>
			<span>&gt;</span><a
				href="{url:/site/search_list/word/$tmpWord/cat/$item[id]}" rel="">{$this->word}</a>
			<div id="showfilter">
			</div>
		</div>
		<!--面包屑结束-->
		<span class="blank10"></span>
		<!--头图开始-->
		<!--头图结束-->
		<span class="blank20"></span>
		<div class="fbListPruArea">
			<div class="fbListSerArea">
				<span class="blank10"></span>
				<div class="ListPruOrder">
					<div class="PruOrderKind">
					{foreach:items=$this->orderArray}
						{if:$this->order == $key}
							{set:$next = $key.'_toggle';$tip  = 'desc';}
						{else:}
							{set:$next = $key;$tip  = '';}
						{/if}
						<a
							href="{echo:block::searchUrl('order',$next)}"
							class="OrderKind04" rel="">{$item}</a>
						{/foreach}
					</div>
					<div class="about_pro">
						<span class="xgsp">相关商品<strong id="vanclListTotalRecords">{$this->findSum}</strong>款</span>

					</div>
					<span class="blank8"></span>
				</div>
				<span class="blank8"></span>
				<div class="FBListSerdiv">
					
					<a class="FBqhlb"
						href="{echo:block::searchUrl('show_type','list')}"
						rel=""> </a>
				</div>
				<span class="blank10"></span>
			</div>
			<span class="blank0"></span>
			{set:$defaultWhere = array('goods' => ' go.name like "%'.$this->word.'%"' , 'category_extend' => $this->cat_id)}
			{set:$resultData = $this->find($defaultWhere,$goodsObj)}
			{if:!empty($resultData)}
			<div id="vanclProductList">
				<div class="productList">
					
					<ul>
					{foreach:items=$resultData}
						<li class="scListArea" style="position: relative">
							<strong><a name="ch_miook-01-0-0064374" class="track"
								title="{$item['name']}" target="_blank"
								href="{url:/site/products/id/$item[id]}"> <img
										alt="{$item['name']}"" pop="{$item[id]}"
										class="productLazyLoad"
										original="{echo:Thumb::get($item['img'],$this->listImageWidth,$this->listImageHeight)}"
										src="{echo:Thumb::get($item['img'],$this->listImageWidth,$this->listImageHeight)}"
										style="display: inline;">
							</a> </strong>
							<span class="blank0"></span>
							<p class="Product-Name">
								<a name="ch_miook-01-0-0064374" class="track" target="_blank"
									title="{$item['name']}"
									href="{url:/site/products/id/$item[id]}">
									{$item['name']}<font class="Product-Name">&#12288;</font>
								</a>
							</p>
							<p class="Product-Price">
								<span>市场价￥<del>
										{$item['market_price']}
									</del>
								</span><strong>售价￥{$item['sell_price']}</strong>
							</p>
							<!--  div class="qianggou">
								9
							</div-->
						</li>
						{/foreach}
					</ul>
					<span class="blank10"></span>
					<div class="pruarea" id="appendvjia">
						
					</div>
					
				</div>
			</div>
			<div class="clear">
			</div>
			<span class="blank10"></span>

			<!-- byMonitoringContent -->
			<div  id="bottomPager"
				class="searchPage20111226">
				{$goodsObj->getPageBar()}

				<!--  input type="button" id="vanclPageButton" class="pageGGsub20111226"
					value="">
				<strong>页</strong>
				<input type="text" id="vanclPageText" class="pageGGshuru20111226"
					value="1">
				<strong>到第</strong>
				<em class="allpagesNumber20111226">共<span id="vanclPageCount">1</span>页</em>

				<span style="color: #999" class="jquery_pager_nextpage20111226">下一页</span>
				<ul>
					<li class="currentpage20111226">
						1
					</li>
				</ul>
				<span style="color: #999" class="jquery_pager_prevpage20111226">上一页</span-->
			</div>
			{else:}
			<p class="display_list mt_10" style='margin-top:50px;margin-bottom:50px'>
				<span class="xgsp">抱歉！没有找到符合您要求的“{$this->word}”商品。</span>
			</p>
			{/if}

			<span id="vjiacheckout" class="blank10"></span>
			
			<div class="blank10"></div>

		</div>
		<span class="blank10"></span>
	</div>
</div>